/* @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&family=Inter:wght@300;400;500;600;700&display=swap"); */
/* :root {
  --font-1: "Inter", sans-serif;
  --font-2: "DM Serif Text", serif;
  --font-3: "DM Serif Display", serif;
  --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.login {
  background-color: #f5f7ff;
}

.logo {
  padding: 10px;
}

.logo p {
  padding: 15px;
  color: white;
  display: inline;
  font-size: 15px;
  font-weight: 600;
}

.forgot-password {
  background-color: #f5f7ff;
}

.navlink {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.listItem .navlink {
  text-decoration: none;
  color: black;
  width: 100%;
}

.listItem .navlink:hover {
  text-decoration: none;
  color: black;
  background-color: #c8d1f4;
  width: 100%;
}

.listItem .navlink.active {
  text-decoration: none;
  color: black;
  background-color: #c8d1f4;
  width: 100%;
  border-right: 5px solid #6883ed;
}

.content-bg {
  background-color: #e7edff;
  height: 100%;
  min-height: 100vh;
}

.selectElement {
  border: 1px solid #c7c7c7;
  border-radius: 7px;
}

.search-card {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.page-title {
  /* line-height: 14px; */
  font-style: normal;
  font-size: 40px;
}

.ant-select-selector {
  width: 100% !important;
  height: 37px !important;
  padding: 2px 11px !important;
  border: none !important;
}

.gm-style-cc,
.gm-svpc,
.gm-svpc {
  display: none;
}

/* 
iframe div .gmnoprint{
  display: absolute !important;
  bottom: 10px !important;
  right: 100px !important;
} */

.box {
  width: 150px;
  height: 250px;
  background-color: white;
  position: absolute;
  right: 7px;
  top: 5rem;
  overflow: hidden;
}

.profile-icon {
  position: absolute;
  right: 20px;
}

.image_upload {
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  margin: 10px 0 15px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image_upload:hover {
  color: #6883ed;
  border: 1px solid #6883ed;
  box-shadow: 0 2px 0 rgba(13, 201, 243, 0.02);
}

.nav-profile-header {
  background-color: #e9e9e9;
  padding: 11px;
  border-radius: 12px 12px 0 0;
}

.chart-body {
  border: 1px solid #c7c7c7;
  border-radius: 7px;
  padding: 5px;
  background-color: white;
}